<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMS</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% if messages %}
<div class="message-container">
    {% for message in messages %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<!-- HEADER -->
<header class="main-header">
    <div class="logo">
        Staff Attendance Management System (SAMS)
    </div>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated and request.user.role == 'ADMIN' %}
            <a href="{% url 'admin_page' %}">Admin Dashboard</a>
        {% else %}
            <a href="{% url 'admin_login' %}">Admin</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% if request.user.role != 'ADMIN' %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>

<!-- MAIN CONTENT -->
<main class="page-content">
    {% block content %}
    {% endblock %}
</main>

<!-- FOOTER -->
<footer id="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h3>
                Contact Support :
                <a href="tel:0975632379">📞 0975632379</a>
            </h3>

            <p>
                Email:
                <a href="mailto:mulukensetegn@gmail.com?subject=Attendance%20Support">
                    setegnmuluken17@gmail.com
                </a>
            </p>
        </div>

        <div class="footer-bar">

            <div class="footer-left"></div>

            <div class="footer-right">
                <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://github.com"><i class="fa-brands fa-github"></i></a>
                <a href="https://telegram.org"><i class="fa-brands fa-telegram"></i></a>
                <a href="https://twitter.com"><i class="fa-brands fa-x-twitter"></i></a>
            </div>

        </div>
    </div>
</footer>

</body>
</html>
